.jumbotron {
    text-align:center;
    color: white;
    background-color: aquamarine;
    text-shadow: black 0.1em 0.1em 0.2em;   
    margin-top: 50px;
    font-family: Lucida Console;
    background-size: cover;
    background-size: 100% 100%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: aquamarine;
    color: rgb(32, 4, 158);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;   
}

.btn-reserva {
    width: 100%;
}
.footer-address-icon {
    padding-right: 10px;
}

.card-body1 {
    color: rgba(10, 161, 111);
    margin-left: 1rem;
}

.tab-content {
    padding-top: 10px;
}

.card-subtitle {
    padding-bottom: 3px;
}

.btn-contacto {
    margin-bottom: 1px;
}

.btn-collapse {
    margin-bottom: 4px;
}

.carousel-caption {
    color: aquamarine;
    text-shadow: black 0.1em 0.1em 0.2em   
}

.d-block:hover {
    opacity: 0.8;
}

/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color: rgba(10, 161, 111);
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: rgb(10, 161, 111);
    color: white;
}