$yellow: rgb(250, 250, 27);
$red: #ff0303;
$green: #57e2b1;
$blue: #070bf8;
 
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    text-align:left;
    color: $green;
    background-color:$green;
    text-shadow: black 0.1em 0.1em 0.2em;   
    @include margenes(50px, 10px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color:$green;
    color: $blue;
    @include margenes(10px, 0px)
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px) 
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.card-subtitle {
    padding-bottom: 3px;
}

.btn-contacto {
    margin-bottom: 1px;
}

.btn-collapse {
    margin-bottom: 4px;
}

.carousel-caption {
    color: $green;
    text-shadow: black 0.1em 0.1em 0.2em   
}