@yellow: #b9cf12;
@red: #ff0303;
@green: #03ffa7;
@blue: #0008fa;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    text-align: center;
    color: @green;
    background-color: @green;
    text-shadow: black 0.1em 0.1em 0.2em;
    .margenes(50px, 10px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @green;
    color: @blue;
    .margenes(10px, 0px) }

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px) }

.btn-reserva {
    width: 100%; }

.footer-address-icon {
    padding-right: 10px; }

.tab-content {
    padding-top: 10px; }

.card-subtitle {
    padding-bottom: 3px; }

.btn-contacto {
    margin-bottom: 1px; }

.btn-collapse {
    margin-bottom: 4px; }

.carousel-caption {
    color: @green;
    text-shadow: black 0.1em 0.1em 0.2em; }