.jumbotron {
  text-align: left;
  color: #57e2b1;
  background-color: #57e2b1;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #57e2b1;
  color: #070bf8;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.card-subtitle {
  padding-bottom: 3px; }

.btn-contacto {
  margin-bottom: 1px; }

.btn-collapse {
  margin-bottom: 4px; }

.carousel-caption {
  color: #57e2b1;
  text-shadow: black 0.1em 0.1em 0.2em; }
